<!DOCTYPE html>
<html>

<head>
    <title>KC EMEA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">
    <link href="./form.css" rel="stylesheet" />
</head>

<body>
  <div id="app"></div>
  
  <script type="text/x-template" id="form">
    <div class="custom-form">
      <form action="https://kcp--GBQAbox.cs14.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" @submit.prevent="handleSubmit">
        <p v-if="errorMessage" class="error">{{errorMessage}}</p>

        <input type=hidden name="orgid" value="00Dc0000003odkb">
        <input type=hidden name="retURL" :value="returnUrl">
        <input type="hidden" name="recordType" autocomplete="off" value="012c000000023xO">

        <div class="form-group">
            <label>{{labels.name}}</label>
            <input :readonly="submitting" :data-label="labels.name" type="text" name="00Nc0000003eKOP" placeholder="e.g. John Doe" autocomplete="off" required @change="handleInvalid" @invalid="handleInvalid" @input="handleInvalid">
        </div>
        <div class="form-group">
            <label>{{labels.email}}</label>
            <input :readonly="submitting" :data-label="labels.email" type="email" name="00Nc0000003eKOU" placeholder="e.g. name@company.com" autocomplete="off" required @change="handleInvalid" @invalid="handleInvalid" @input="handleInvalid">
        </div>
        <div class="form-group">
            <label>{{labels.productCode}}</label>
            <input type="text" :readonly="submitting" id="00NF000000838NC" name="00NF000000838NC" placeholder="e.g. 6659, 6340, 90090" />
        </div>
        <div class="form-group">
            <label for="00NF000000838Mb">{{labels.country}}</label>
            <select 
              name="00NF000000838Mb" 
              id="00NF000000838Mb" 
              :readonly="submitting" 
            >
              <option v-for="country in countries" :value="country">{{ country }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{{labels.comments}}</label>
            <textarea :readonly="submitting" :data-label="labels.comments" type="text" name="description" rows="5" :placeholder="labels.placeholder" autocomplete="off" required @change="handleInvalid" @invalid="handleInvalid" @input="handleInvalid"></textarea>
        </div>

        <div class="form-group">
          <label>{{labels.file_Upload}}</label>
          <input type="file" name="File_Upload" placeholder autocomplete="off" multiple>
        </div>

        <div class="checkbox-group">
            <input id="agreement-checkbox" data-label="agreement" :readonly="submitting" type="checkbox" name="accept" placeholder autocomplete="off" required value="on" @change="handleInvalid" @invalid="handleInvalid">
            <label for="agreement-checkbox" v-html="disclaimer"></label>
        </div>
        <div class="form-group">
          <button class="submit-btn" type="submit" :disabled="submitting">{{submitting ? labels.submit + '...' : labels.submit}}</button>
        </div>
      </form>
    </div>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.19/vue.min.js"></script>
  <script src="./form.js"></script>
</body>

</html>
