<html>

<head>
  <title>STLogs</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href="./form.css" rel="stylesheet">
</head>

<body>
  <main id="app">
    <section v-if="!user.loggedin" class="login-form-wrapper js-login-form-wrapper">
      <form @submit.prevent="login" class="login-form js-login-form">
        <img src="./avatar.jpg" class="wc-login-avatar">
        <h1>Login</h1>
        <p class="form-group">
          <label for="username">Username</label>
          <input type="text" v-bind:disabled="user.logining" required id="username" v-model="user.username" name="username" placeholder="Enter username...">
        </p>
        <p class="form-group">
          <label for="login-password">Password</label>
          <input type="password" v-bind:disabled="user.logining" required v-model="user.password" id="login-password" value="ISPM2017!!"
            name="password" placeholder="Enter your password...">
        </p>
        <div class="actions">
          <button type="submit" v-bind:disabled="user.logining">{{ loginBtnText }}</button>
        </div>
      </form>
    </section>

    <div v-else class="js-post-login container">
      <h1>STLogs</h1>
      <div class="js-tabs js-forms">
        <ul class="tab-buttons">
          <li>
            <button v-bind:class="{ active: operationTabActive }" @click="showOperation">Today Ops & Next Day Highlights</button>
          </li>
          <li>
            <button v-bind:class="{ active: manpowerTabActive }" @click="showManpower">Manpower</button>
          </li>
        </ul>
        <!-- TODAY OPERATIONS FORMS -->
        <div v-bind:class="[{ active: operationTabActive }, 'tab-content']">
          <!-- AVIVATION FORM -->
          <div v-if="isAvivation">
            <h2>Aviation/Freight</h2>
            <form id="today_avivation" action="" class="form-wrapper" @submit="doAvivationOperationSubmit">
              <template v-for="block in avivationOperation.fields">
                <h3>{{block.heading}}</h3>

                <fieldset v-for="item in block.groups" v-if="item.title">
                  <legend>{{item.title}}</legend>
                  <p v-for="field in item.fields" class="form-group">
                    <label>{{ field.label}}</label>
                    <input type="text" v-model="avivationOperation.model[field.name]" :name="field.name" value="" />
                  </p>
                </fieldset>
                <p v-for="item in block.groups" v-if="!item.title" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="avivationOperation.model[item.name]" :name="item.name" value="" />
                </p>
              </template>

              <div class="actions">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
          <!-- END OF AVIVATION FORM -->
          <!-- DEFENCE FORM -->
          <div v-if="isDefence">
            <h2>Defence</h2>
            <form action="" class="form-wrapper" @submit.prevent="doDefenceOperationSubmit">
              <template v-for="block in defenceOperation.fields">
                <h3>{{block.heading}}</h3>

                <fieldset v-for="item in block.groups" v-if="item.title">
                  <legend>{{item.title}}</legend>
                  <p v-for="field in item.fields" class="form-group">
                    <label>{{ field.label}}</label>
                    <input type="text" v-model="defenceOperation.model[field.name]" :name="field.name" value="" />
                  </p>
                </fieldset>
                <p v-for="item in block.groups" v-if="!item.title" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="defenceOperation.model[item.name]" :name="item.name" value="" />
                </p>
              </template>

              <div class="actions">
                <button :disabled="defenceOperation.submitting" type="submit">{{defenceOperationFormSubmitText}}</button>
              </div>
            </form>
          </div>
          <!-- END OF DEFENCE FORM -->
          <!-- HEALTHCATE FORM -->
          <div v-if="isHealthcare">
            <h2>Healthcare</h2>
            <form action="" class="form-wrapper" @submit.prevent="doHealthcareOperationSubmit">
              <template v-for="block in healthcareOperation.fields">
                <h3>{{block.heading}}</h3>

                <fieldset v-for="item in block.groups" v-if="item.title">
                  <legend>{{item.title}}</legend>
                  <p v-for="field in item.fields" class="form-group">
                    <label>{{ field.label}}</label>
                    <input type="text" v-model="healthcareOperation.model[field.name]" :name="field.name" value="" />
                  </p>
                </fieldset>
                <p v-for="item in block.groups" v-if="!item.title" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="healthcareOperation.model[item.name]" :name="item.name" value="" />
                </p>
              </template>

              <div class="actions">
                <button :disabled="healthcareOperation.submitting" type="submit">{{healthcareOperationFormSubmitText}}</button>
              </div>
            </form>
          </div>
          <!-- END OF HEALTHCATE FORM -->
          <!-- PSS FORM -->
          <div v-if="isPSS">
            <h2>PSS</h2>
            <form action="" class="form-wrapper">
              <h3>Today's Operations:</h3>
              <p class="form-group">
                <label for="pss_today_fupo">FUPO (D)</label>
                <input id="pss_today_fupo" type="text" name="fupo" />
              </p>
              <p class="form-group">
                <label for="pss_today_mha_mailroom">MHA Mailroom (D) </label>
                <input id="pss_today_mha_mailroom" type="text" name="mha_mailroom" />
              </p>
              <p class="form-group">
                <label for="pss_today_moe">MOE (N)</label>
                <input id="pss_today_moe" type="text" name="moe" />
              </p>
              <p class="form-group">
                <label for="pss_today_mom">MOM (N)</label>
                <input id="pss_today_mom" type="text" name="mom" />
              </p>
              <p class="form-group">
                <label for="pss_today_events">Events (N) </label>
                <input id="pss_today_events" type="text" name="events" />
              </p>
              <p class="form-group">
                <label for="pss_today_mlaw">MLAW (N) </label>
                <input id="pss_today_mlaw" type="text" name="mlaw" />
              </p>
              <p class="form-group">
                <label for="pss_today_plb_offsite_stores">PLB Offsite Stores (N)</label>
                <input id="pss_today_plb_offsite_stores" type="text" name="plb_offsite_stores" />
              </p>
              <p class="form-group">
                <label for="pss_today_scdf_offsite_stores">SCDF Offsite Stores (N) </label>
                <input id="pss_today_scdf_offsite_stores" type="text" name="scdf_offsite_stores" />
              </p>
              <p class="form-group">
                <label for="pss_today_courier_services">Courier Services (N)</label>
                <input id="pss_today_courier_services" type="text" name="courier_services" />
              </p>
              <p class="form-group">
                <label for="pss_today_nlb">NLB (N)</label>
                <input id="pss_today_nlb" type="text" name="nlb" />
              </p>
              <p class="form-group">
                <label for="pss_today_procurement">Procurement (N) </label>
                <input id="pss_today_procurement" type="text" name="procurement" />
              </p>
              <br>
              <h3>Key Highlight For Next Day:</h3>
              <p class="form-group">
                <label for="pss_nextday_fupo">FUPO (D)</label>
                <input id="pss_nextday_fupo" type="text" name="fupo" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_mha_mailroom">MHA Mailroom (D) </label>
                <input id="pss_nextday_mha_mailroom" type="text" name="mha_mailroom" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_moe">MOE (N)</label>
                <input id="pss_nextday_moe" type="text" name="moe" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_mom">MOM (N)</label>
                <input id="pss_nextday_mom" type="text" name="mom" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_events">Events (N) </label>
                <input id="pss_nextday_events" type="text" name="events" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_mlaw">MLAW (N) </label>
                <input id="pss_nextday_mlaw" type="text" name="mlaw" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_plb_offsite_stores">PLB Offsite Stores (N)</label>
                <input id="pss_nextday_plb_offsite_stores" type="text" name="plb_offsite_stores" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_scdf_offsite_stores">SCDF Offsite Stores (N) </label>
                <input id="pss_nextday_scdf_offsite_stores" type="text" name="scdf_offsite_stores" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_courier_services">Courier Services (N)</label>
                <input id="pss_nextday_courier_services" type="text" name="courier_services" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_nlb">NLB (N)</label>
                <input id="pss_nextday_nlb" type="text" name="nlb" />
              </p>
              <p class="form-group">
                <label for="pss_nextday_procurement">Procurement (N) </label>
                <input id="pss_nextday_procurement" type="text" name="procurement" />
              </p>
              <div class="actions">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
          <!-- END OF PSS FORM -->
        </div>
        <!-- END TODAY OPERATIONS FORMS -->
        <!-- MAINPOWER FORM -->
        <div v-bind:class="[{ active: manpowerTabActive }, 'tab-content']">
          <!-- MANPOWER AVIVATION FORM -->
          <div v-if="isAvivation">
            <!-- <h2>Manpower Status - Aviation</h2> -->
            <form class="form-wrapper" @submit.prevent="doAvivationManpowerSubmit">
              <template v-for="block in avivationManpower.fields">
                <h2>{{block.heading}}</h2>

                <p v-for="item in block.groups" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="avivationManpower.model[item.name]" :name="item.name" />
                </p>
              </template>
              <div class="actions">
                <button :disabled="avivationManpower.submitting" type="submit">{{avivationManpowerFormSubmitText}}</button>
              </div>
            </form>

            <form class="form-wrapper" @submit.prevent="doAvivationRedconSubmit">
              <template v-for="block in avivationRedcon.fields">
                <h2>{{block.heading}}</h2>

                <p v-for="item in block.groups" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="avivationRedcon.model[item.name]" :name="item.name" />
                </p>
              </template>
              <div class="actions">
                <button :disabled="avivationRedcon.submitting" type="submit">{{avivationRedconFormSubmitText}}</button>
              </div>
            </form>
          </div>
          <!-- END OF MANPOWER AVIVATION FORM -->
          <!-- MANPOWER STATUS - DEFENCE, PSS, HEALTHCARE FORM -->
          <div v-if="isDefence || isHealthcare || isPSS">
            <form class="form-wrapper" @submit.prevent="doDefenceManpowerSubmit">
              <template v-for="block in defenceManpower.fields">
                <h2>{{block.heading}}</h2>

                <p v-for="item in block.groups" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="defenceManpower.model[item.name]" :name="item.name" />
                </p>
              </template>
              <div class="actions">
                <button :disabled="defenceManpower.submitting" type="submit">{{defenceManpowerFormSubmitText}}</button>
              </div>
            </form>

            <form class="form-wrapper" @submit.prevent="doDefenceRedconSubmit">
              <template v-for="block in defenceRedcon.fields">
                <h2>{{block.heading}}</h2>

                <p v-for="item in block.groups" class="form-group">
                  <label>{{ item.label}}</label>
                  <input type="text" v-model="defenceRedcon.model[item.name]" :name="item.name" />
                </p>
              </template>
              <div class="actions">
                <button :disabled="defenceRedcon.submitting" type="submit">{{defenceRedconFormSubmitText}}</button>
              </div>
            </form>

          </div>
          <!-- END OF MANPOWER STATUS - DEFENCE, PSS, HEALTHCARE FORM -->
        </div>
        <!-- END MANPOWER FORMS -->
      </div>
      <br>
    </div>

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.2/qs.min.js"></script>

  <!-- <script src="./stlogs-forms.js"></script> -->
  <script src="./stlogs-forms-app.js"></script>
</body>

</html>
