//Note: for Adaptive cards 0.5.6, you must use rgb, rgba, or the 6-digit hex (do not use 3 digit hex shortcut)
$c00: #7ba1ab;
$c01: #ffffff;
$c02: rgba(0, 0, 0, 0.2);
$c03: #8a8a8a;
$c04: #999999;
$c05: #cccccc;
$c06: #0063b1;
$c07: #3a96dd;
$c08: #808c95;
$c09: #eceff1;
$c10: #dbdee1;
$c11: #d2dde5;
$c12: #ffa333;

// $c_brand: $c07;
// $c_shadow: $c02;
// $c_chrome: $c10;
// $c_textHeading: $c08;
// $c_textLight: $c04;

$c_messageFromMe: $c07;
$c_messageFromThem: $c09;

// Colors Palette
$c_brand_light: #BCA480;
$c_brand: #243A81;
$c_brand_two: #48607D;
$c_light_accent: #DDD;
$c_dark_accent: #969FA9;
$c_primary_text: #333;
$c_secondary_text: #999;
$c_light_background: #CCBB8D;
$c_dark_background: $c_brand_light;
$c_dark_background_lighten: #EBE7E4;
$c_dark_background_darken: #B7AFA2;
$c_shadow: #333;
$c_subtle: #EEE;

// Application Colors (Uses Color Palettte)
// General
$c_scrollbar: $c_subtle;

// Header
$c_header_bg: $c_brand;
$c_header_text: $c_subtle;
$c_header_date: $c_secondary_text;

// History
$c_message_bot_bubble: $c_brand;
$c_message_user_bubble: $c_brand_two;
$c_message_text: $c_primary_text;
$c_card_heading: $c_secondary_text;
$c_card_divider: $c_subtle;
$c_carousel_scroll_bg: $c_light_accent;
$c_carousel_scroll_bg_highlight: $c_subtle;
// Different type of button: card_buttons, action_buttons, submit_buttons
$c_button_background: $c_dark_background;
$c_button_background_highlight: $c_brand;
$c_button_background_onpress: $c_brand;
$c_button_text: $c_subtle;
$c_message_meta: $c_secondary_text;

// Console
$c_console_text:  $c_primary_text;
$c_console_divider: $c_subtle;
$c_console_send_icon: $c_dark_accent;

// Form Elements
$c_input_label: $c_brand;
$c_input_bg: $c_subtle;
$c_input_text: $c_primary_text;
$c_input_label_msg: $c_primary_text;
