@font-face {
	font-family: 'Museo';
	font-weight: normal;
	src: url('./font/museo300-webfont.eot');
	src: url('./font/museo300-webfont.eot?#iefix') format('embedded-opentype'),
		url('./font/museo300-webfont.woff') format('woff'),
		url('./font/museo300-webfont.ttf') format('truetype'),
		url('./font/museo300-webfont#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo';
	font-weight: 500;
	src: url('./font/museo500-webfont.eot');
	src: url('./font/museo500-webfont.eot?#iefix') format('embedded-opentype'),
		url('./font/museo500-webfont.woff') format('woff'),
		url('./font/museo500-webfont.ttf') format('truetype'),
		url('./font/museo500-webfont#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo';
	font-weight: 700;
	src: url('./font/museo700-webfont.eot');
	src: url('./font/museo700-webfont.eot?#iefix') format('embedded-opentype'),
		url('./font/museo700-webfont.woff') format('woff'),
		url('./font/museo700-webfont.ttf') format('truetype'),
		url('./font/museo700-webfont#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo Cyrl';
	font-weight: normal;
	src: url('./font/MuseoCyrl-300.eot');
	src: url('./font/MuseoCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('./font/MuseoCyrl-300.woff2') format('woff2'),
		url('./font/MuseoCyrl-300.woff') format('woff'),
		url('./font/MuseoCyrl-300.ttf') format('truetype'),
		url('./font/MuseoCyrl-300#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo Cyrl';
	font-weight: normal;
	font-style: italic;
	src: url('./font/MuseoCyrl-300Italic.eot');
	src: url('./font/MuseoCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
		url('./font/MuseoCyrl-300Italic.woff2') format('woff2'),
		url('./font/MuseoCyrl-300Italic.woff') format('woff'),
		url('./font/MuseoCyrl-300Italic.ttf') format('truetype'),
		url('./font/MuseoCyrl-300Italic#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo Cyrl';
	font-weight: 500;
	src: url('./font/MuseoCyrl-500.eot');
	src: url('./font/MuseoCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('./font/MuseoCyrl-500.woff2') format('woff2'),
		url('./font/MuseoCyrl-500.woff') format('woff'),
		url('./font/MuseoCyrl-500.ttf') format('truetype'),
		url('./font/MuseoCyrl-500#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo Cyrl';
	font-weight: 500;
	font-style: italic;
	src: url('./font/MuseoCyrl-500Italic.eot');
	src: url('./font/MuseoCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
		url('./font/MuseoCyrl-500Italic.woff2') format('woff2'),
		url('./font/MuseoCyrl-500Italic.woff') format('woff'),
		url('./font/MuseoCyrl-500Italic.ttf') format('truetype'),
		url('./font/MuseoCyrl-500Italic#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo Cyrl';
	font-weight: 700;
	src: url('./font/MuseoCyrl-700.eot');
	src: url('./font/MuseoCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('./font/MuseoCyrl-700.woff2') format('woff2'),
		url('./font/MuseoCyrl-700.woff') format('woff'),
		url('./font/MuseoCyrl-700.ttf') format('truetype'),
		url('./font/MuseoCyrl-700#svgFontName') format('svg');
}

@font-face {
	font-family: 'Museo Cyrl';
	font-weight: 700;
	font-style: italic;
	src: url('./font/MuseoCyrl-700Italic.eot');
	src: url('./font/MuseoCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
		url('./font/MuseoCyrl-700Italic.woff2') format('woff2'),
		url('./font/MuseoCyrl-700Italic.woff') format('woff'),
		url('./font/MuseoCyrl-700Italic.ttf') format('truetype'),
		url('./font/MuseoCyrl-700Italic#svgFontName') format('svg');
}
