$brand: #039be5;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Avenir, sans-serif;
  font-size: 14px;
  // background: #fff;
  color: #333;
}

button {
  min-width: 88px;
  padding: 8px 16px;
  background: #ddd;
  // color: #333;
  border: 0;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px #757575;
  transition: all 0.2s ease;

  &:active {
    box-shadow: 0 4px 8px #757575;
    background: rgb(158, 158, 158);
  }

  &[disabled] {
    background: #bdbdbd;
    opacity: 0.5;
    color: #757575;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-primary {
  background: $brand;
  color: #fff;

  &:active {
    background: #0277bd;
  }
}

.hidden {
  display: none !important;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 15px;
}

form {
  margin: 0;

  label {
    color: #9e9e9e;
    font-size: 12px;
    font-style: italic;

    &.required:after {
      content: '*';
      color: #d32f2f;
      margin-left: 5px;
    }
  }

  input {
    padding: 8px 0;
    line-height: 1.4;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dbdee1;
    outline: none;
    font-size: inherit;
    transition: all 0.2s ease;
    background: none;
  }

  input:focus {
    border-color: #999999;
  }

  .actions {
    text-align: right;
  }

  button[type='submit'] {
    text-transform: uppercase;
  }

  fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.6rem;

    legend {
      font-size: inherit;
      padding: 0 1rem;
      font-size: 16px;
    }

    + fieldset {
      margin-top: 2.4rem;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .form-group {
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
  }

  .error-message {
    color: #d32f2f;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

.login-form-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-form {
  min-width: 320px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 4px 0 30px rgba(0, 0, 0, 0.1), 0 -4px 30px rgba(0, 0, 0, 0.1), -4px 0 30px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 2px;
  padding: 16px;

  h1 {
    text-align: center;
    font-weight: 400;
  }

  .wc-login-avatar {
    height: 50px;
    margin: 16px auto;
    display: block;
  }
}

// TABS
.tab-buttons {
  list-style-type: none;
  display: flex;
  margin: 1.6rem 0 0;
  padding: 0;
  border-bottom: 1px solid #eee;

  button {
    outline: none;
    border: 0;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    background: none;
    box-shadow: none;
    border-radius: 0;

    &:hover {
      background: #eee;
    }

    &.active {
      box-shadow: inset 0 -3px 0 $brand;
    }
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}

.form-2-col {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  .block {
    flex-grow: 1;
    padding-left: 8px;
    padding-right: 8px;
    flex-basis: 50%;
  }

  .actions {
    width: 100%;
  }
}

.account-info,
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-info > button {
  margin-left: 10px;
}

.notifications {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .noti-item {
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background: #fff;
    box-shadow: 2px 3px 0 #ddd;
    display: flex;
    align-items: center;

    + .noti-item {
      margin-top: 10px;
    }

    &.success {
      background: #ddffdd;
      box-shadow: 2px 3px 0 #6fd272;

      .icon path {
        fill: #0bd20b;
      }
    }

    &.error {
      background: #fbd4d4;
      box-shadow: 2px 3px 0 #ff9595;
      
      .icon path {
        fill: red;
      }
    }
  }

  .icon {
    margin-right: 5px;
  }

  .close {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;
    min-width: 0;
    margin-left: 10px;
  }
}
