@import '../includes/colors';
@import './fonts';
@import './functions';

body {
  font-family: "Museo", sans-serif;
}

svg {
  fill: $c_brand;
  height: 50px;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form {
  * {
    box-sizing: border-box;
  }

  label,
  input {
    display: block;
  }
  label {
    color: #006f91;
    font-weight: 500;
    margin-bottom: 5px;
  }

  select,
  input,
  textarea {
    width: 100%;
    height: 40px;
    font-weight: 500;
    color: #231f20;
    background-color: #f5f2e9;
    border: 0px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    font-size: inherit;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.4;
  }
  input[type='file'],
  textarea[type='file'] {
    background: none;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 18px;
    font-size: 13px;
    padding: 0;
    border: 0;
  }
  .submit-btn {
    padding: 10px;
    color: white;
    width: auto;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 800;
    margin-top: 10px;
    background-color: $c_brand;
    line-height: 1;
  }
  .submit-btn.disabled {
    opacity: 0.4;
    cursor: not-allowed !important;
  }
  .submit-btn:not([disabled]):hover {
    opacity: 0.8;
  }

  textarea {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 94px;
  }
  .checkbox-group {
    display: flex;
    label {
      display: inline-block;
    }
    input {
      display: inline-block;
      width: 8%;
      height: 20px;
      vertical-align: top;
    }
    label {
      width: 89%;
      color: #231f20;
    }
  }
  [disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .error {
    color: red;
    margin: 10px 0;
  }
}
