@import "../includes/colors";
@import "./_functions.scss";

$header-height: 72px;

.wc-header {
  background-color: #f6f6f6 ;
  color: $c_brand;
  font-weight: 700;
  height: $header-height;
  padding: 0;
  display: flex;
  align-items: center;
  box-shadow: none;

  img {
    margin-right: 20px;
    max-height: $header-height;
  }

  h1 {
    font-size: 24px;
    display: none;
  }
}

.wc-message-groups {
  top: $header-height;
  padding: 40px 0 20px;
}

.wc-message-content {
  box-shadow: none;
  border-radius: 0;
  min-width: 100px;
  padding: 0;
}

.wc-message-from-bot {
  float: left;
  border-left: 6px solid $c_brand;
  padding-left: 15px;
  margin-left: 0;

  .wc-message-content {
    background: none;
    color: #231f20;
  }
}

.wc-message-from-me {
  float: right;
  border-right: 6px solid lighten($c_brand, 30); // #00b4ff;
  padding-right: 15px;
  margin-right: 0;

  .wc-message-content {
    background: none;
    color: #231f20;
  }
}


.wc-message {
  max-width: 75%;
  background: $c_message-bg;
  padding: 5px 10px;

  svg.wc-message-callout {
    display: none;
  }
}

.wc-message-meta {
  clear: both;
  color: $c_timestamp;
  font-size: 10px;
  font-weight: 300;
  padding-top: 5px;
}

.wc-card.hero {
  background: none;

  button {
    background-color: $c_button;
    border: 0px;
    color: $c_brand;
    font-weight: 500;
    line-height: 1.29;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    white-space: normal !important;

    &:active {
      background-color: $c06;
    }

    &:hover {
      background-color: #dad7ce;
    }
  }

  .ac-pushButton:first-of-type {
    border-radius: 5px 5px 0 0;
  }

  .ac-pushButton:last-of-type {
    border-radius: 0 0 5px 5px;
  }

  &.hero h1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: $c_timestamp;
    font-weight: 300;
  }
}

.wc-console {
  border: 0;
  border-top: 1px solid #e5e5e5;
  height: 50px;

  .wc-textbox {
    left: 20px;
  }

  #wc-send-icon {
    fill: $c_brand;
    fill-opacity: 0.4;
  }

  &.has-text {
    #wc-send-icon {
      fill-opacity: 1;
    }
  }

  svg {
    margin-top: 15px;
  }
}

.wc-typing {
  background: none;
  height: $size;
  width: $size * $number-of-dots * 2;

  &::before {
    content: '';
    display: block;
    border-radius: $size;
    height: $size;
    width: $size;
    box-shadow: makeshadow(0);
    animation: dots infinite 1s;
    margin-left: -$size;
  }
}

.wc-message-wrapper {
  margin-bottom: 15px;
}

.wc-suggested-actions {
  background: none;
  margin: 10px 15px;

  .wc-hscroll > ul > li button {
    background-color: $c_button;
    border-radius: 5px;
    border: 0px;
    color: $c_brand;
    font-weight: 500;

    &:active {
      background-color: $c06;
    }

    &:focus,
    &:hover {
      background-color: #dad7ce;
    }

    :active {
      background-color: $c_brand;
      border-color: $c_brand;
      color: $c01;

    }
  }
}

.wc-carousel .wc-hscroll > ul {
  display: flex;

  > li + li {
    border-left: 2px solid #ddd;
  }
}

.wc-table {
  border-collapse: collapse;

  td {
    padding: 5px 10px;
  }

  button {
    background-color: $c_button;
    border-radius: 5px;
    border: 0px;
    color: $c_brand;
    font-weight: 500;
    outline: none;
    white-space: nowrap;
  }
}
