@import '../includes/colors';
@import '../includes/settings';
@import './_functions.scss';

$header-height: 52px;

body {
  margin: 0;
}

.wc-header {
  background-color: $c_brand;
  color: #fff;
  font-weight: 700;
  height: $header-height;
  padding: 0;
  display: flex;
  align-items: center;
  box-shadow: none;
  justify-content: flex-end;
  
  img {
    margin-right: 20px;
    max-height: 100%;
    display: none;
  }

  h2 {
    font-size: 24px;
    display: none;
  }

  .subtext {
    width: 100%;
    color: #bca480;
    font-weight: normal;
    display: none;
  }
}

.wc-message {
  padding: 8px 15px;
  border-radius: $radius;
}

.wc-message-groups {
  top: $header-height;
  padding: 40px 0 20px;
}

.wc-message-content {
  box-shadow: none;
  border-radius: 0;
  min-width: 100px;
  padding: 0;
}

.wc-message-from-bot {
  float: left;
  // border-left: 6px solid $c_brand;
  // padding-left: 15px;
  // margin-left: 0;
  background-color: $c_bot_reply_bg;
  max-width: 75%;

  .wc-message-content {
    background: none;
    color: #231f20;
  }
}

.wc-message-special {
  background: none;
}

.wc-message-from-me {
  float: right;
  // border-right: 6px solid lighten($c_brand, 30); // #00b4ff;
  // padding: 0 15px;
  background-color: $c_me_reply_bg;

  .wc-message-content {
    background: none;
    color: #fff;
  }
}

.wc-message svg.wc-message-callout {
  display: none;
}

.wc-message-meta {
  clear: both;
  color: $c_timestamp;
  font-size: 13px;
  font-weight: 300;
  padding-top: 5px;
  margin: 0 25px;
  float: left;
}

.wc-message-meta-me {
  float: right;
}

.wc-card.hero {
  background: none;

  button {
    background-color: $c_button; //;
    border: 0px;
    // color: #fff;
    font-weight: 500;
    line-height: 1.29;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    white-space: normal !important;
    // font-size: 18px;

    &:active {
      background-color: $c06;
    }

    &:hover {
      background-color: $c_button_hover;
      color: #fff;
    }
  }

  .ac-pushButton:first-of-type {
    border-radius: $radius $radius 0 0;
  }

  .ac-pushButton:last-of-type {
    border-radius: 0 0 $radius $radius;
  }

  &.hero h1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: $c_timestamp;
    font-weight: 300;
  }
}

.wc-console {
  border: 0;
  border-top: 1px solid #e5e5e5;
  height: 50px;

  .wc-textbox {
    left: 20px;
  }

  #wc-send-icon {
    fill: $c_brand;
    fill-opacity: 0.4;
  }

  &.has-text {
    #wc-send-icon {
      fill-opacity: 1;
    }
  }

  svg {
    margin-top: 15px;
  }
}

.wc-typing {
  background: none;
  height: $size;
  width: $size * $number-of-dots * 2;

  &::before {
    content: '';
    display: block;
    border-radius: $size;
    height: $size;
    width: $size;
    box-shadow: makeshadow(0);
    animation: dots infinite 1s;
    margin-left: -$size;
  }
}

.wc-message-wrapper {
  margin-bottom: 15px;
}

.wc-suggested-actions {
  background: none;
  margin: 10px 15px;

  .wc-hscroll > ul > li button {
    background-color: $c_button;
    border-radius: 5px;
    border: 0px;
    color: $c_brand;
    font-weight: 500;

    &:active {
      background-color: $c06;
    }

    &:focus,
    &:hover {
      background-color: #dad7ce;
    }

    :active {
      background-color: $c_brand;
      border-color: $c_brand;
      color: $c01;
    }
  }
}

.wc-carousel .wc-hscroll > ul {
  display: flex;

  > li + li {
    border-left: 2px solid #ddd;
  }
}

.wc-message-wrapper.carousel .wc-message {
  max-width: 75%;
}

.wc-app .wc-back-top {
  position: fixed;
  bottom: 70px;
  right: 10px;
  background: none;
  border: 0;
  opacity: 0.3;
  outline: none;

  svg {
    display: block;
    width: 30px;
    height: 30px;
  }

  &:hover {
    opacity: 0.9;
  }
}

.wc-carousel button.scroll {
  background: #fff;

  &:hover {
    background: #ddd;
  }

  svg {
    fill: #666
  }
}

.wc-carousel li .wc-adaptive-card p {
  font-size: 14px;
}

.wc-adaptive-card p {
  white-space: normal;
}

mark, .mark {
  color: $c_brand;
  background: none;
}

.contact-link {
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  img {
    display: block;
    max-height: 100%;
  }
}

body .wc-app * {
  font-family: inherit !important;
}
